.Contenido {
  display: flex;
  flex-direction: column;
  align-items: center; /* opcional, si quieres centrar horizontalmente */
}

.hea {
  width: 100%;
  background-color: #f0f0f0; /* solo para que se note la cabecera */
  text-align: center;
  padding: 20px;
}

.article {
  width: 100%;
  background-color: #e0e0e0; /* para diferenciarlo del header */
  padding: 20px;
  text-align: center;
  color: black;
}